.decorationCard {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: black solid 1px;
  flex-wrap: wrap;
  width: 5%;
  min-height: 15%;
  flex-direction: column;

  img {
    object-fit: contain;
    height: 10%;
  }
}
