.decorations {

  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;

  .shop {
    z-index: 200;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 90%;
    margin-left: 5%;
    margin-top: 2%;
    flex-direction: column;
   

    .decorationsImage {
      overflow: visible;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      flex-wrap: wrap;
      backdrop-filter: blur(5px);
      border: rgb(187 11 11) solid 3px;
      border-radius: 10px;

    }
  }

  .sapin {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    
    img{
      height: 100%;
      z-index: 190;
    }

  }
  
}