.decorationCard {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: black solid 1px;
  width: 70%;
  min-height: 15%;

  img {
    object-fit: contain;
    height: 100%;
  }
}
