.decorationCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  // border: black solid 1px;
  width: 32%;
  height: 9%;
  cursor: pointer;

  

  img {
    width: 32%;
  }
}
