.snowMan{
    z-index: 300;
    position: absolute;
    width: 70%;
    height: 100vh;
    right: 0;
    float: right;

    .snowMensettings{
        cursor: pointer;
    }

    .snowBoxer{
        position: absolute;
        height: 15vh;
        bottom: 40vh;
        right:15vw;
    }

  .snowHide {
    position: absolute;
    height: 10vh;
    top: 26vh;
    left: 22.5vw;
  }

  .snowHide2 {
    position: absolute;
    height: 10vh;
    left: 6.5vw;
    top: 42vh;
  }

  .snowSurfer {
    position: absolute;
    height: 25vh;
    top: 43vh;
    left: 12vw;
  }

  .snowFather {
    position: absolute;
    right: 5vw;
    bottom: 10vh;
    height: 40vh;
  }

  .snowManHi {
    position: absolute;
    height: 15vh;
    top: 27vh;
    right: 22vw;
  }

  .snowManHi2 {
    position: absolute;
    height: 30vh;
    bottom: 4vh;
    left: 22vw;
  }

  .snowBall {
    position: absolute;
    height: 15vh;
    animation-name: moveSnowBall;
    animation-duration: 1s; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite;


  }
  @keyframes moveSnowBall {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg) ;
    }
  }

  .fallSnowMen{
    animation-duration: 1s; 
    animation-timing-function: ease; 
    animation-name: fall;
  }

  @keyframes fall {
    0% {
     
    }
    100% {
      transform: rotate(90deg);
    }
  }

  .lucas{
    position: absolute;
    bottom: 0;
    left: 0;
    animation-duration: 1s; 
    animation-timing-function: ease; 
    animation-name: apparition;
  }
  @keyframes apparition {
    0% {
      transform: translate(0, 500px);
    }
    100% {
      transform: translate(0, 0px);
    }
  }
}
