.christmasPage {
  overflow: hidden;
  background-image: url("./images/backGround_ChristmasHackathon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;

  position: relative;

    .tree {
      width: 50%;
      position: absolute;
      right: 8vw;
    }

}

.traineau {
  width: 50%;
  position:absolute;
  animation-name: slideIn;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes slideIn {
  0% {
    transform: translate(-200px, 0px);
  }
  50% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(2000px, 40px);
  }

}

