.christmasPage {
  overflow: hidden;
  background-image: url("./images/backGround_ChristmasHackathon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.svg), auto;

  position: relative;

  .capture {
    position: absolute;
    left: 50%;
    bottom: 1%;
    z-index: 300;
  }
}

.traineau {
  width: 50%;
  position:absolute;
  z-index: 195;
  animation-name: slideIn;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
@keyframes slideIn {
  0% {
    transform: translate(-200px, 0px);
  }
  10% {
    transform: translate(0px, 200px);
  }
  20% {
    transform: translate(2000px, 40px);
  }
  21%{
    transform: translate(20000px, 40px);
  }
  100% {
    transform: translate(20000px, 40px);
  }

}

